<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Vocabulary</title>

    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap-grid.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap-reboot.css" rel="stylesheet" type="text/css">
    <link href="css/panels.css" rel="stylesheet" type="text/css">
    <script src="js/angular175.js"></script>

    <style>
        .added {
            background-color: greenyellow;
            border-style: outset;
            font-style: inherit;
        }

        .wrong {
            background-color: #FF8686;
            border-style: inset;
            font-style: inherit;
        }

        .btn-xs {
            padding: 0.1rem 0.25rem;
            margin-bottom: 0.4rem;
            font-size: 0.8rem;
            line-height: 1;
        }

        .learned {
            background-color: #34bf0f;
        }

        .toLearn {
            background-color: #cf4d4d;
        }

        .examples-block {
            white-space: pre-line;
            background-color: #f5f5f5;
            margin-left: -10px;
            margin-right: -8px;
            padding-left: 3px;
            border-radius: 7px;
        "
        }

        .invisible {
            opacity: 0;
            height: 0;
        }
    </style>

</head>
<body>
<br>
<div class="container">
    <div class="panel panel-success" ng-app="voc" ng-controller="vocctrl">
        <div class="panel-heading text-center">
            <h1>Vocabulary</h1>
        </div>
        <div class="panel-body" id="vocabulary">
            <div class="row">
                <div class="col-4 text-left {{pair.correct | paintAnswer}}"
                     ng-repeat="pair in pairs"
                     ng-mouseenter="pair.hovered = true"
                     ng-mouseleave="pair.hovered = false">
                    <div class="row">
                        <div class="col-6 text-left">
                            {{pair.word}}
                        </div>
                        <div class="col-6 text-left">
                            {{pair.translation}}
                        </div>
                    </div>
                    <div class="row examples-block" ng-show="pair.hovered">{{pair.examples}}</div>
                    <button ng-show="pair.hovered" ng-click="toLearn(pair, true)" class="btn btn-xs mt-2 toLearn">
                        Learn
                    </button>
                    <button ng-show="pair.hovered" ng-click="toLearn(pair, false)" class="btn btn-xs mt-2 learned">
                        Learned
                    </button>
                </div>
                <div class="col-4 text-left">
                    <div class="row">
                        <div class="col-6 text-left">
                            {{word}}
                        </div>
                        <div class="col-6 text-left">
                            <form ng-submit="checkWord()">
                                <input type="text" ng-model="translation" autocomplete="off" id="input"
                                       style="width: 110%;" autofocus/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row" ng-class="{invisible: lastPair}">
                <p id="guide">
                    Input vocabulary size or 'learn' to get words to learn.
                </p>
            </div>
            <div class="row">
                <div class="col-4 text-center text-primary">
                    <h5>Words: {{pairsCount}}/{{vocSize}}</h5>
                </div>
                <div class="col-4 text-center text-success" ng-class="{invisible: !lastPair}">
                    <!--<h2>{{percents}}% - doesn't work correct (maybe because of init values?)</h2>-->
                    <!--do that using filter-->
                    <h2>{{100 - mistakes*100/pairsCount | rounder}}%</h2>
                </div>
                <div class="col-4 text-center text-danger">
                    <h5>Mistakes: {{mistakes}}</h5>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>

<script>
    var voc = angular.module("voc", []);

    // service doesn't work correct. Maybe it uses init values and doesn't refresh it?
    voc.service('$percenter', function () {
        this.getPercent = function (mistakes, count) {
            var x = 100 - mistakes * 100 / count;
            return Math.round(x);
        };
    });

    // painting the div of answer
    voc.filter('paintAnswer', function () {
        return function (clazz) {
            if (clazz === true) {
                return "added";
            } else return "wrong";
        };
    });

    // rounding the success percent
    voc.filter('rounder', function () {
        return function (number) {
            return Math.round(number) | 0;
        };
    });

    voc.directive("vocDirective", function () {
        return {
            template: "<p>Text from directive</p>"
        };
    });

    // $percenter is for example here, it doesn't needed (must be added as an argument)
    voc.controller("vocctrl", function ($scope, $http, $timeout) {
        $scope.pairEdition = 0;
        $scope.nowInEdit = 0;
        $scope.req = "10";
        $scope.pairAdded = false;   //indicates successfully added words pair in 'newWord'
        $scope.pairWrong = false;   //indicates not added words pair in 'newWord'
        $scope.passedEdition = false;   //indicates not passed validation of edited word
        $scope.pairsCount = 0;  //all given word pairs
        $scope.mistakes = 0;    //correct pairs
        // $scope.percents = $percenter.getPercent($scope.mistakes, $scope.pairsCount);    //just for example
        $scope.newPair = "";
        $scope.words = [];
        $scope.pairs = [];
        $scope.pairCounter = 0;
        $scope.word = "Press enter to start...";
        $scope.translation = "";
        $scope.updword = {upd: ""};
        $scope.lastPair = undefined;
        $scope.separate = "Separate words with '\\\\'";
        $scope.vocSize = 0;
        $scope.vocSizeConst = 0;

        //  adding or removing pair for learning
        $scope.toLearn = function (pair, toLearn) {
            pair.toLearn = toLearn;
            $http.post("learnWord", JSON.stringify(pair), {dataType: "text/plain"}).then(function (value) {
                console.log(pair.translation + "\n" + value.data)
            });
        };

        //  method for handling pair edition
        $scope.editPair = function (id) {
            if ($scope.pairEdition !== id) {
                $scope.updword.upd = "";
                $scope.pairEdition = id;
            } else if ($scope.nowInEdit !== id) {
                $scope.nowInEdit = id;
            } else {
                $scope.pairEdition = 0;
                $scope.nowInEdit = 0;
                $scope.updword.upd = "";
            }
        };

        //  http request for getting new word-translation pair
        $scope.initVocabulary = function (fun) {
            if ($scope.translation !== "") $scope.req = $scope.translation;
            let request = "getWordList?range=" + $scope.req;
            $http.get(request, {headers: {Accept: "application/json;charset=UTF-8"}})
                .then(function (response) {
                    $scope.words = response.data;
                    $scope.vocSizeConst = Number($scope.words.length);
                    $scope.vocSize = Number($scope.vocSize) + $scope.vocSizeConst;
                    $scope.pairCounter = 0;
                    if (fun) fun();
                })
        };

        $scope.getWord = function () {
            const fun = function () {
                $scope.lastPair = $scope.words[$scope.pairCounter++];
                $scope.word = $scope.lastPair.word;
            }
            if ($scope.pairCounter >= $scope.vocSizeConst) {
                $scope.initVocabulary(fun);
            } else {
                fun();
            }
        };

        // check if at least one word guessed
        $scope.containsWord = function (word, list) {
            word = word.toString().trim().toLowerCase()
            const words = list.toString().toLowerCase().split(',').map(w => w.trim());
            return word.includes(',')
                ? word.split(',').map(w => w.trim()).every(w => words.includes(w))
                : words.includes(word);
        }

        $scope.amendPairExamples = function (pair) {
            if (pair.examples.length == 2) {
                pair.examples = ""
            } else {
                pair.examples = pair.examples.split("\"").filter(s => s.length > 2).join("\n")
            }
        }

        //  checking answer
        $scope.checkWord = function () {

            //  if it's a first enter pressing
            if ($scope.lastPair === undefined) {
                $scope.initVocabulary(() => {
                    $scope.getWord();
                    $scope.translation = "";
                });
                return;
            }

            $scope.pairsCount++;

            //  correct answer case
            if ($scope.translation === $scope.lastPair.translation ||
                $scope.containsWord($scope.translation, $scope.lastPair.translation)
            ) {
                $scope.lastPair.correct = true;
            } else {
                //  100% wrong answer
                $scope.lastPair.correct = false;
                $scope.mistakes++;
            }
            $scope.amendPairExamples($scope.lastPair);
            $scope.pairs.push($scope.lastPair);
            $scope.word = "";
            $scope.translation = "";
            $scope.getWord();

            if ($scope.pairsCount % 3 === 0 && document.body.clientHeight + 150 > window.outerHeight) {
                setTimeout(function () {
                    window.scrollTo(0, document.body.scrollHeight - 100);
                }, 50);
            }
        };

        //  update values od changed pair
        $scope.updateEdited = function (item, index) {
            if (item.id === $scope.pairEdition) {
                item.word = $scope.updword.upd.split('\\\\')[0].trim();
                item.translation = $scope.updword.upd.split('\\\\')[1].trim();
            }
        };

        //   updating word in database
        $scope.postEditedWord = function ($scope, $http) {
            let word = $scope.updword.upd.split('\\\\')[0];
            let translation = $scope.updword.upd.split('\\\\')[1];
            if (word === undefined || translation === undefined || word.trim() === "" || translation.trim() === "") {
                $scope.updword.upd = "";
                return;
            }
            let updated = {
                'id': $scope.pairEdition,
                'word': word,
                'translation': translation
            };

            $http.post("editWord", JSON.stringify(updated), {dataType: "text/plain"}).then(function (value) {
                console.log(value.data)
            });
            $scope.passedEdition = false;
            $scope.pairs.forEach($scope.updateEdited);
            $scope.editPair(0);
            $scope.updword.upd = "";
            // console.log("successfully updated: " + JSON.stringify(updated)); //just for example
        };

        //  adding new word to database
        $scope.postNewWord = function ($scope, $http) {
            let pair = {
                'word': $scope.newPair.split('\\\\')[0].trim(),
                'translation': $scope.newPair.split('\\\\')[1].trim()
            };
            if (pair.word === undefined || pair.translation === undefined || pair.word === "" || pair.translation === "") {
                $scope.pairAdded = false;
                $scope.pairWrong = true;
                return;
            }
            $http.post("addWord", JSON.stringify(pair), {dataType: "text/plain"}).then(function (value) {
                console.log(value.data)
            });
            $scope.pairWrong = false;
            $scope.pairAdded = true;
            // console.log("added: " + JSON.stringify(pair)); //just for example
        };

        // adding new word to database trigger
        $scope.addWord = function () {
            $scope.postNewWord($scope, $http);
            $scope.newPair = "";
        };

        //  adding edited word pair to database
        $scope.editWord = function () {
            $scope.postEditedWord($scope, $http);
            $scope.pairEdition = 0;
            $scope.nowInEdit = 0;
        };
    });
</script>

<!--Alternative form submition using java script-->
<!--<script>-->
<!--var input = document.getElementById("input");-->
<!--input.addEventListener("keyup", function(event) {-->
<!--event.preventDefault();-->
<!--if (event.keyCode === 13) {-->
<!--document.getElementById("btn").click();-->
<!--}-->
<!--});-->
<!--</script>-->


</body>
</html>